In [76]:
import pandas as pd
df=pd.read_csv('data')

In [77]:
df.head()

,Unnamed: 0,city_development_index,experience,last_new_job,training_hours,target,High_School,Masters,Phd,Primary_School,...,Business_Degree,Humanities,No_Major,Other_major,STEM,Part_time_course,no_enrollment,Yes,Male,Other
0,0,0.920,21,1,36,1.0,0,0,0,0,...,0,0,0,0,1,0,1,1,1,0
1,1,0.776,15,5,47,0.0,0,0,0,0,...,0,0,0,0,1,0,1,0,1,0
2,2,0.624,5,0,83,0.0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,4,0.767,21,4,8,0.0,0,1,0,0,...,0,0,0,0,1,0,1,1,1,0
4,5,0.764,11,1,24,1.0,0,0,0,0,...,0,0,0,0,1,1,0,1,1,0

In [78]:
df=df.drop(['Unnamed: 0'],axis=1)

In [79]:
df.head()

,city_development_index,experience,last_new_job,training_hours,target,High_School,Masters,Phd,Primary_School,around_100,...,Business_Degree,Humanities,No_Major,Other_major,STEM,Part_time_course,no_enrollment,Yes,Male,Other
0,0.920,21,1,36,1.0,0,0,0,0,1,...,0,0,0,0,1,0,1,1,1,0
1,0.776,15,5,47,0.0,0,0,0,0,1,...,0,0,0,0,1,0,1,0,1,0
2,0.624,5,0,83,0.0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
3,0.767,21,4,8,0.0,0,1,0,0,1,...,0,0,0,0,1,0,1,1,1,0
4,0.764,11,1,24,1.0,0,0,0,0,1,...,0,0,0,0,1,1,0,1,1,0

In [80]:
df.columns

Index(['city_development_index', 'experience', 'last_new_job',
       'training_hours', 'target', 'High_School', 'Masters', 'Phd',
       'Primary_School', 'around_100', 'around_1000', 'around_10000',
       'around_50', 'around_500', 'around_5000', 'more_than_10000',
       'Funded_Startup', 'NGO', 'Other_type', 'Public_Sector', 'Pvt_Ltd',
       'Business_Degree', 'Humanities', 'No_Major', 'Other_major', 'STEM',
       'Part_time_course', 'no_enrollment', 'Yes', 'Male', 'Other'],
      dtype='object')

In [81]:
X = df.drop(['target'], axis = 1)
Y = df['target']

In [82]:
smote = SMOTE(random_state = 402)
X_smote, Y_smote = smote.fit_resample(X,Y)

In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score, roc_curve, accuracy_score, confusion_matrix, log_loss, plot_roc_curve, auc, precision_recall_curve

In [92]:
from xgboost import XGBClassifier
from sklearn.preprocessing import StandardScaler
X_train, X_val, y_train, y_val = train_test_split(X_smote, Y_smote, test_size = 0.2 ,random_state = 42)
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_val=sc.fit(X_val)
clf = XGBClassifier()

clf.fit(X_train, y_train)

C:\Users\vhshe\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[14:02:00] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=12, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [101]:
import pickle
file_name='job_change1.pickle'
pickle.dump(clf,open(file_name,'wb'))

In [94]:
X_val.columns

AttributeError: 'StandardScaler' object has no attribute 'columns'

In [95]:
X_val.head(1).value_counts()

AttributeError: 'StandardScaler' object has no attribute 'head'

In [96]:
X.head(1)

,city_development_index,experience,last_new_job,training_hours,High_School,Masters,Phd,Primary_School,around_100,around_1000,...,Business_Degree,Humanities,No_Major,Other_major,STEM,Part_time_course,no_enrollment,Yes,Male,Other
0,0.92,21,1,36,0,0,0,0,1,0,...,0,0,0,0,1,0,1,1,1,0

In [97]:
type(X_val)

sklearn.preprocessing._data.StandardScaler

In [110]:
int(clf.predict(np.array([[0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,11,1,1
                      ]]))[0])

1

In [65]:
y_val_pred

array([[0.15527004, 0.84472996]], dtype=float32)